---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Torrent Downloader https://nickbusey.gitlab.io/HomelabOS/software/transmission/
  transmission:
    image: haugene/transmission-openvpn
    networks:
      - traefik_network
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    restart: unless-stopped
    ports:
      - "8888:8888"
    dns:
      - 8.8.8.8
      - 8.8.4.4
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - "{{ storage_dir }}/Downloads:/data"
      - "{{ storage_dir }}/Downloads/watch:/data/watch"
      - "{{ storage_dir }}/Video/Movies:/movies"
      - "{{ storage_dir }}/Video/TV:/tv"
    environment:
      - OPENVPN_PROVIDER={{ openvpn_provider }}
      - OPENVPN_USERNAME={{ openvpn_username }}
      - OPENVPN_PASSWORD={{ openvpn_password }}
      - OPENVPN_CONFIG={{ openvpn_config }}
      - OPENVPN_OPTS=--inactive 3600 --ping 10 --ping-exit 300
      - PGID=0
      - PUID=0
      - TZ={{ common_timezone }}
      #- TRANSMISSION_RPC_AUTHENTICATION_REQUIRED=true
      #- TRANSMISSION_RPC_PASSWORD={{ default_password }}
      #- TRANSMISSION_RPC_USERNAME={{ default_username }}
      - TRANSMISSION_SPEED_LIMIT_UP=100
      - TRANSMISSION_SPEED_LIMIT_UP_ENABLED=true
      - TRANSMISSION_SPEED_LIMIT_DOWN=100
      - TRANSMISSION_SPEED_LIMIT_DOWN_ENABLED=true
      - TRANSMISSION_RATIO_LIMIT=2
      - TRANSMISSION_RATIO_LIMIT_ENABLED=true
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.transmission.loadbalancer.server.scheme=http"
      - "traefik.http.services.transmission.loadbalancer.server.port=9091"
      - "traefik.http.routers.transmission-http.rule=Host(`transmission.{{ domain }}`)"
      - "traefik.http.routers.transmission-http.entrypoints=http"
      - "traefik.http.routers.transmission-http.middlewares={% if transmission.https_only %}redirect@file, {% else %}{% if transmission.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.transmission.rule=Host(`transmission.{{ domain }}`)"
      - "traefik.http.routers.transmission.entrypoints=https"
      - "traefik.http.routers.transmission.middlewares={% if transmission.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.transmission.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.transmission.tls.certresolver=dns"
      - "traefik.http.routers.transmission.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.transmission.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.transmission.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.transmission-tor-http.rule=Host(`transmission.{{ tor_domain }}`)"
      - "traefik.http.routers.transmission-tor-http.entrypoints=http"
      - "traefik.http.routers.transmission-tor-http.middlewares={% if transmission.auth %}{% if enable_authelia %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
