---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:

  init-guacamole-db:
    image: guacamole/guacamole:latest
    command: ["/bin/sh", "-c", "test -e /init/initdb.sql && echo 'init file already exists' || /opt/guacamole/bin/initdb.sh --postgres > /init/initdb.sql" ]
    volumes:
      - "{{ volumes_root }}/guacamole/dbinit:/init"

  postgres:
    networks:
      - traefik_network
    image: postgres:latest
    restart: unless-stopped
    volumes:
      - "{{ volumes_root }}/guacamole/dbinit:/docker-entrypoint-initdb.d"
      - "{{ volumes_root }}/guacamole/dbdata:/var/lib/postgresql/data"
    environment:
      POSTGRES_USER: guacpostgress
      POSTGRES_PASSWORD: "{{lookup('password', './settings/passwords/postgres_password chars=digits')}}"
    depends_on:
      - init-guacamole-db

  guacd:
    networks:
      - traefik_network
    image: guacamole/guacd:latest
    restart: unless-stopped

  guac:
    image: guacamole/guacamole:latest
    networks:
      - traefik_network
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      GUACD_HOSTNAME: guacd
      POSTGRES_HOSTNAME: postgres
      POSTGRES_DATABASE: guacpostgress
      POSTGRES_USER: guacpostgress
      POSTGRES_PASSWORD: "{{lookup('password', './settings/passwords/postgres_password chars=digits')}}"
    depends_on:
      - postgres
      - guacd
    labels: #- "traefik.http.frontend.rule=Host:guacamole.{{ domain }};AddPrefix:/guacamole"
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.guacamole.loadbalancer.server.scheme=http"
      - "traefik.http.services.guacamole.loadbalancer.server.port=8080"
      - "traefik.http.routers.guacamole-http.rule=Host(`guacamole.{{ domain }}`)"
      - "traefik.http.routers.guacamole-http.entrypoints=http"
      - "traefik.http.routers.guacamole-http.middlewares={% if guacamole.https_only %}redirect@file, {% else %}{% if guacamole.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.guacamole.rule=Host(`guacamole.{{ domain }}`)"
      - "traefik.http.routers.guacamole.entrypoints=https"
      - "traefik.http.routers.guacamole.middlewares={% if guacamole.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.guacamole.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.guacamole.tls.certresolver=dns"
      - "traefik.http.routers.guacamole.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.guacamole.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.guacamole.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.guacamole-tor-http.rule=Host(`guacamole.{{ tor_domain }}`)"
      - "traefik.http.routers.guacamole-tor-http.entrypoints=http"
      - "traefik.http.routers.guacamole-tor-http.middlewares={% if guacamole.auth %}{% if enable_authelia %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
