---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Media Server
  jellyfin:
    image: jellyfin/jellyfin
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/jellyfin/config:/config"
      - "{{ storage_dir }}:/media"
      - "{{ storage_dir }}/temp:/cache"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.jellyfin.loadbalancer.server.scheme=http"
      - "traefik.http.services.jellyfin.loadbalancer.server.port=8096"
      - "traefik.http.routers.jellyfin-http.rule=Host(`jellyfin.{{ domain }}`)"
      - "traefik.http.routers.jellyfin-http.entrypoints=http"
      - "traefik.http.routers.jellyfin-http.middlewares={% if jellyfin.https_only %}redirect@file, {% else %}{% if jellyfin.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.jellyfin.rule=Host(`jellyfin.{{ domain }}`)"
      - "traefik.http.routers.jellyfin.entrypoints=https"
      - "traefik.http.routers.jellyfin.middlewares={% if jellyfin.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.jellyfin.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.jellyfin.tls.certresolver=dns"
      - "traefik.http.routers.jellyfin.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.jellyfin.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.jellyfin.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.jellyfin-tor-http.rule=Host(`jellyfin.{{ tor_domain }}`)"
      - "traefik.http.routers.jellyfin-tor-http.entrypoints=http"
      - "traefik.http.routers.jellyfin-tor-http.middlewares={% if jellyfin.auth %}{% if enable_authelia %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
